.topnav {
background-color: coral;
overflow: hidden;
}
.topnav a {
float: left;
color: greenyellow;
text-align: center;
padding: 20px 20px;
text-decoration: none;
font-size: 20px;
}
.topnav a:hover {
    background-color: #ddd;
    color: white

}
.topnav a.active {
    background-color: blueviolet;
    color: white;
}
